<h1 class="title">P w o</h1>

<div>
  
  <form action="/game" method="post">
  @foreach(WordCombo combo in ViewBag.wordCombos)
  {
    <div class="btn btn-dark">
      <input class="incompleteWord @combo.Status" type="radio" id="@combo.FullWord" name="incompleteWord" value="@combo.FullWord">
      <label for="@combo.FullWord">@combo.IncompleteWord</label>
    </div>
    <br>

  }
    <div id="missingLettersList">
      @foreach(WordCombo combo in ViewBag.wordCombos)
      {
        <div class="btn btn-dark">
          <input class="missingLetters @combo.Status" type="radio" id="@combo.FullWord" name="missingLetters" value="@combo.FullWord">
          <label for="@combo.FullWord">@combo.MissingLetters</label>
        </div>
      }
    </div> 
    <br>
    <input type="submit" id="play" value="PLAY"/>
  </form>
</div>

<form action="/youwin" method="post">
  <input type="submit" value="Next level!"/>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    shuffleMissingLetters();
  });
  function shuffleMissingLetters() {
    var list = document.querySelector("#missingLettersList");
    for (var i = list.children.length; i >= 0; i--) {
        list.appendChild(list.children[Math.random() * i | 0]);
    }
  }
</script>